include header

div(class='wrap')
    div(class='content')
        header(class='site-header')
            include site_header.pug
        div(class='container')
            div(class='row')
                div(class='col3')
                    h2 #{category[0]['category']}
                each val, index in goods 
                    include card.pug
                div #{category[0]['description']}