div(class="footer")
    div(class="container")
        div(class="row")
            div(class="col col-lg-12") Darello Shop. All rights reserved

script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
script(src='js/nav.js')
script(src='js/cart.js')