div(
    class='site-nav'
)
    div(class='close-button-div')
        button(class='button-primary close-nav')
    h3(class='cart-head') Goods
    div(id='category-list')
    h3(class='cart-head') Cart
    div(id='cart-nav')
    div(class='text-right')
        a(
            href='/order'
            target='_blank'
        )
            button(class='button-primary') Order