div(
    class="site-nav button-primary"
)   
    div(class="close-button-div")
        button(class='button-primary-oulined close-nav') x
    h3(class="cart-header") Darello
    div(id="category-list")
    h3(class="cart-header") Cart
    div(id="cart-nav")
    div(class='text-right')
        a(
            href="/order"
            target="_blank"
        ) 
            button(class="") Order
